name: main

on:
  - push
  - pull_request

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: kakkun61-public
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build
      - run: echo "RESULT=$(readlink -f result)" >> $GITHUB_ENV
        # workaround https://github.com/actions/upload-artifact/issues/92#issuecomment-1080347032
      - uses: actions/upload-artifact@v5
        with:
          name: wd-x64-linux
          path: ${{ env.RESULT }}/wd

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          name: kakkun61-public
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build
      - run: echo "RESULT=$(readlink -f result)" >> $GITHUB_ENV
        # workaround https://github.com/actions/upload-artifact/issues/92#issuecomment-1080347032
      - uses: actions/upload-artifact@v5
        with:
          name: wd-arm64-macos
          path: ${{ env.RESULT }}/wd

  build-windows:
    runs-on: windows-latest

    defaults:
      run:
        working-directory: ./windows

    steps:
      - uses: actions/checkout@v6
      - uses: microsoft/setup-msbuild@v2
      - run: msbuild /property:Configuration=Release
      - uses: actions/upload-artifact@v5
        with:
          name: wd-x64-windows
          path: ./windows/Release/wd.exe
